body{
    margin: 0px;
}

.Rodape{
    background-color: yellowgreen;
    color: rgb(6, 85, 6);
    padding: 8px;
}

#Lista_Rodape{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-wrap: wrap;
}

#Título{
    text-align: center;
    padding: 16px;
    padding-bottom: 24px;
    color: green;
    transition: color 600ms linear;
    transition: transform .2s cubic-bezier(.37,1.89,.59,.73);
}

#Título:hover{
    color: yellow;
    transform: scale(1.4);
    animation: girando 2s ease-in-out 0s normal;
}

@keyframes girando {
    from {
        transform: rotate(0deg);
    }    
    to {
        transform: rotate(-15deg);
    }
}

h1{
    text-align: left;
    padding-left: 8px;
    padding-top: 8px;
    color: green;
    text-decoration: underline;
}

h2{
    padding-left: 24px;
    padding-bottom: 16px;
    color: blue;
    text-decoration: underline;
}

h3{
    padding-left: 48px;
    padding-bottom: 16px;
    color: rgb(0, 0, 80);
    text-decoration: underline;
}

p{
    margin-right: 48px;
    margin-left: 48px;
    padding: 16px;
    background: white;
}
 
nav{
    text-align: center;
}

nav ul :link{
    color: yellow;
}

nav ul :visited{
    color: brown;
}

article p :link{
    color: orangered;
}

article p :visited{
    color: brown;
}

img{
    width: 125px;
    height: 125px;
}

main{
    background-color: rgba(151, 151, 151, 0.586);
    margin: 24px;
}

article iframe{
    margin-left: 300px;
}

article{
    padding-bottom: 10px;
}

.Legenda{
    margin-left: 300px;
    margin-right: 65%;
    color: rgb(70, 70, 70);
    background-color: rgba(151, 151, 151, 0.586);
}