body {
    margin: 0px;
}

.Login{
    background-color: gainsboro;
    padding: 10px;
    display: flex;
    justify-content: end;
}

.Rodape {
    background-color: yellowgreen;
    color: rgb(6, 85, 6);
    padding: 8px;
}

#Lista_Rodape {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-wrap: wrap;
    list-style: none;
}


article iframe {
    margin-left: 300px;
}

article {
    padding-bottom: 10px;
}

h1 {
    text-align: left;
    padding-left: 8px;
    padding-top: 8px;
    text-decoration: underline;
}

h2 {
    padding-left: 24px;
    padding-bottom: 16px;
    color: blue;
    text-decoration: underline;
}

h3 {
    padding-left: 48px;
    padding-bottom: 16px;
    color: rgb(0, 0, 80);
    text-decoration: underline;
}

p {
    margin-right: 48px;
    margin-left: 48px;
    padding: 16px;
    background: white;
}

img {
    width: 125px;
    height: 125px;
}

main {
    background-color: rgba(151, 151, 151, 0.586);
    margin: 24px;
}

.Legenda {
    margin-left: 300px;
    margin-right: 65%;
    color: rgb(70, 70, 70);
    background-color: rgba(151, 151, 151, 0.586);
}

header div :link{
    color: white;
}

header div :visited{
    color: indigo;
}

form button :link{
    color: white;
}

form button :visited{
    color: indigo;
}

nav div :link{
    color: black;
}

nav div :visited{
    color: green;
}